---
import BuyerAppLayout from "../layouts/BuyerAppLayout.astro";
import HeroBanner from "../components/HeroBanner.astro";
import DeferredHomeGrid from "../components/home/DeferredHomeGrid.astro";
import SkeletonProductGrid from "../components/ui/SkeletonProductGrid.astro";
import { createSupabaseAuthClient } from "../lib/core/auth";

const authClient = createSupabaseAuthClient(Astro.cookies, Astro.request);
const { data: { user } } = await authClient.auth.getUser();
const isLoggedIn = !!user;
---

<BuyerAppLayout>
	<main>
		<HeroBanner isLoggedIn={isLoggedIn} />
		<DeferredHomeGrid server:defer>
			<SkeletonProductGrid count={10} slot="fallback" />
		</DeferredHomeGrid>
	</main>
</BuyerAppLayout>
